  #backN{
    background:linear-gradient(to top, #cda2bb, rgb(216, 181, 236));

  }
  #backN section{
    background:url('../../../public/img/main/necklaces03.png') no-repeat left center / contain;
  }
  #backN div{
    background:url('../../../public/img/main/gifts_gifts1_bg1.png') no-repeat right top;
  }
  