#search{
    background-color: #ededed;
    margin-bottom:50px;
    padding:10px;
}

/*check*/
#search .check{
    display: flex;
    padding:0 10px;
    margin-right:300px;
}
#search .check>p:not(:last-child){
    margin-right:20px;
}

/*choice*/
#search .choice{
    position: relative;
}
#search .choice>button{
    width:150px;
    box-sizing: border-box;
    line-height: 30px;
    background-color: #fff;
    border: 1px solid #595959;
}
#search .choice>ul{
    width:180px;
    padding:5px 20px;
    border: 1px solid #595959;
    box-sizing: border-box;
    background-color: #fff;
    position: absolute;
    top:34px; left:50%;
    margin-left:-90px;
    z-index:800;
}
#search .choice li{
    line-height: 35px;
    border-bottom:1px solid #ababab;
}
#search .choice li:last-child{
    border-style: none;
}

/*text*/
#search .text{
    width:400px;
    text-align: right;
    margin-right: 10px;
}
#search .text>input{
    width:100%;
    box-sizing: border-box;
    padding:5px;
}
