@charset "utf-8";

body{
  font:16px/30px Arial,sans-serif;
  color:#595959;
}
#hide, .hide{
  font-size:0; line-height: 0;
  width:0; height:0;
  position:absolute; visibility:hidden;
  
}
img{
  max-width: 100%;
  max-height: 100%;
}

/* main */
article{
  margin-bottom:100px;
}
h3{
  height:calc(100vh - 153px);
  margin-bottom: 100px;
}
h3>div{
  width:1200px; height:100%;
  margin:0 auto;
  position:relative;
}
h3>div>span{
  display: block;
  position:absolute;
  left:0; top:50%;
  width:100%;
  font:bold  79px/79px 'Times New Roman', Times, serif;
  color:white;
  /* background-color: brown; */
  margin-top:-39.6px;
  text-align: center;
  text-shadow:3px 3px 5px rgba(0,0,0,0.7)
}
figure{
  width:220px;
  padding:15px 0;
  background-color: #fafafa;
  border: 2px solid #dfdfdf;
  text-align: center;
  box-sizing: border-box;
}
figure>img{
  margin-bottom:15px;
}
figure>figcaption{
  font:bold 15px '나눔고딕',sans-serif; 
  color:#666;
}




